:root {
	--black:0,0,0;
	--white:255,255,255;
	
	--gray_900:26,26,26;
	--gray_800:51,51,51;
	--gray_700:77,77,77;
	--gray_600:102,102,102;
	--gray_500:128,128,128;
	--gray_400:153,153,153;
	--gray_300:179,179,179;
	--gray_200:204,204,204;
	--gray_100:230,230,230;
	--gray_50:247,247,247;
	--gray_10:252,252,252;
	
	--crimson_950:121,17,12;
	--crimson_900:166,16,16;
	--crimson_800:192,28,19;
	--crimson_700:217,42,33;
	--crimson_600:242,58,48;
	--crimson_500:255,86,77;
	--crimson_400:255,122,115;
	--crimson_300:255,146,140;
	--crimson_200:255,182,179;
	--crimson_100:255,217,217;
	--crimson_50:255,242,242;
	
	--red_950:147,7,8;
	--red_900:188,29,30;
	--red_800:203,41,42;
	--red_700:216,49,49;
	--red_600:235,59,55;
	--red_500:249,68,55;
	--red_400:244,84,82;
	--red_300:233,117,117;
	--red_200:242,155,156;
	--red_100:255,206,211;
	--red_50:255,235,238;
	
	--orange_950:183,65,5;
	--orange_900:228,88,17;
	--orange_800:238,113,20;
	--orange_700:244,128,21;
	--orange_600:251,144,24;
	--orange_500:255,156,26;
	--orange_400:255,170,50;
	--orange_300:255,186,84;
	--orange_200:255,206,132;
	--orange_100:255,225,181;
	--orange_50:255,243,225;
	
	--citrus_950:184,96,30;
	--citrus_900:230,119,0;
	--citrus_800:247,140,0;
	--citrus_700:252,160,0;
	--citrus_600:255,172,18;
	--citrus_500:255,187,61;
	--citrus_400:255,204,101;
	--citrus_300:255,221,141;
	--citrus_200:255,231,166;
	--citrus_100:255,243,204;
	--citrus_50:255,248,235;
	
	--viridian_950:0,93,80;
	--viridian_900:3,120,97;
	--viridian_800:15,145,119;
	--viridian_700:25,172,143;
	--viridian_600:43,198,167;
	--viridian_500:74,216,187;
	--viridian_400:107,234,208;
	--viridian_300:137,247,225;
	--viridian_200:171,248,232;
	--viridian_100:205,255,245;
	--viridian_50:230,255,250;
	--viridian_A100:190,255,246;
	--viridian_A200:137,250,227;
	--viridian_A400:36,224,187;
	--viridian_A700:0,184,146;
	
	--mint_950:3,63,54;
	--mint_900:0,89,76;
	--mint_800:0,117,107;
	--mint_700:0,134,123;
	--mint_600:0,150,140;
	--mint_500:0,164,154;
	--mint_400:0,179,172;
	--mint_300:42,193,188;
	--mint_200:117,211,208;
	--mint_100:174,228,226;
	--mint_50:223,244,244;
	
	--blue_950:15,23,127;
	--blue_900:43,54,184;
	--blue_800:40,88,215;
	--blue_700:35,106,234;
	--blue_600:26,125,255;
	--blue_500:0,140,255;
	--blue_400:47,157,255;
	--blue_300:88,175,255;
	--blue_200:139,198,255;
	--blue_100:186,219,255;
	--blue_50:226,241,255;
	
	--periBlue_950:33,46,164;
	--periBlue_900:45,60,214;
	--periBlue_800:68,83,230;
	--periBlue_700:93,107,240;
	--periBlue_600:112,127,242;
	--periBlue_500:132,147,246;
	--periBlue_400:154,167,250;
	--periBlue_300:175,187,255;
	--periBlue_200:196,206,255;
	--periBlue_100:217,225,255;
	--periBlue_50:235,239,255;

	--purpleGray_950:66,65,105;
	--purpleGray_900:74,75,118;
	--purpleGray_800:83,84,130;
	--purpleGray_700:90,92,139;
	--purpleGray_600:112,116,154;
	--purpleGray_500:136,141,172;
	--purpleGray_400:169,173,196;
	--purpleGray_300:186,190,209;
	--purpleGray_200:202,205,220;
	--purpleGray_100:223,225,233;
	--purpleGray_50:234,235,240;
	
	--leaf_950:74,123,24;
  --leaf_900:84,147,18;
  --leaf_800:93,175,13;
  --leaf_700:110,199,20;
  --leaf_600:125,217,33;
  --leaf_500:142,236,48;
  --leaf_400:164,242,85;
  --leaf_300:183,249,126;
  --leaf_200:206,255,166;
  --leaf_100:227,255,205;
  --leaf_50: 242,255,232;
    	
}