@font-face {
  font-family:"xuiFontIcon";
  src: url("./fonts/xuiFontIcon.eot");
  src: url("./fonts/xuiFontIcon.eot#iefix") format("embedded-opentype"),
       url("./fonts/xuiFontIcon.woff2") format("woff2"),
       url("./fonts/xuiFontIcon.woff") format("woff"),
       url("./fonts/xuiFontIcon.ttf") format("truetype");
}

.xfi {
    font-family: "xuiFontIcon";
    position: relative;
    font-size: 40px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.xfi-ico_0001_after_call:before { content: '\ea01';}
.xfi-ico_0002_arrow_down_line_nor:before { content: '\ea02';}
.xfi-ico_0003_arrow_next_line_nor:before { content: '\ea03';}
.xfi-ico_0004_arrow_up_line_nor:before { content: '\ea04';}
.xfi-ico_0005_ban_text:before { content: '\ea05';}
.xfi-ico_0006_bookmark:before { content: '\ea06';}
.xfi-ico_0007_bye:before { content: '\ea07';}
.xfi-ico_0008_cal:before { content: '\ea08';}
.xfi-ico_0009_call:before { content: '\ea09';}
.xfi-ico_0010_call_end:before { content: '\ea0a';}
.xfi-ico_0011_call_forward:before { content: '\ea0b';}
.xfi-ico_0012_chat:before { content: '\ea0c';}
.xfi-ico_0013_close_bold:before { content: '\ea0d';}
.xfi-ico_0014_close:before { content: '\ea0e';}
.xfi-ico_0015_conference:before { content: '\ea0f';}
.xfi-ico_0016_confirm:before { content: '\ea10';}
.xfi-ico_0017_customer:before { content: '\ea11';}
.xfi-ico_0018_edit:before { content: '\ea12';}
.xfi-ico_0019_go:before { content: '\ea13';}
.xfi-ico_0020_headset:before { content: '\ea14';}
.xfi-ico_0021_heart:before { content: '\ea15';}
.xfi-ico_0022_high_five:before { content: '\ea16';}
.xfi-ico_0023_hold:before { content: '\ea17';}
.xfi-ico_0024_logout:before { content: '\ea18';}
.xfi-ico_0025_not_ready:before { content: '\ea19';}
.xfi-ico_0026_note:before { content: '\ea1a';}
.xfi-ico_0027_ready:before { content: '\ea1b';}
.xfi-ico_0028_refresh:before { content: '\ea1c';}
.xfi-ico_0029_search:before { content: '\ea1d';}
.xfi-ico_0030_sitemap:before { content: '\ea1e';}
.xfi-ico_0031_sms_history:before { content: '\ea1f';}
.xfi-ico_0032_time:before { content: '\ea20';}
.xfi-ico_0033_timer:before { content: '\ea21';}
.xfi-ico_0034_user:before { content: '\ea22';}
.xfi-ico_0035_yes:before { content: '\ea23';}
.xfi-ico_0036_home:before { content: '\ea24';}
.xfi-ico_0037_reorder:before { content: '\ea25';}
.xfi-ico_0038_text_bullet:before { content: '\ea26';}
.xfi-ico_0039_main_q:before { content: '\ea27';}
.xfi-ico_0040_subdirectory_arrow_right:before { content: '\ea28';}
.xfi-ico_0041_add:before { content: '\ea29';}
.xfi-ico_0042_delete:before { content: '\ea2a';}
.xfi-ico_0043_detail:before { content: '\ea2b';}
.xfi-ico_0044_alert_question:before { content: '\ea2c';}
.xfi-ico_0045_alert_confirm:before { content: '\ea2d';}
.xfi-ico_0046_alert_info:before { content: '\ea2e';}
.xfi-ico_0047_alert_err:before { content: '\ea2f';}
.xfi-ico_0048_alert_warning:before { content: '\ea30';}
.xfi-ico_0049_atm:before { content: '\ea31';}
.xfi-ico_0050_mail:before { content: '\ea32';}
.xfi-ico_0051_router:before { content: '\ea33';}
.xfi-ico_0052_swap_vert:before { content: '\ea34';}
.xfi-ico_0053_page_start:before { content: '\ea35';}
.xfi-ico_0054_page_end:before { content: '\ea36';}
.xfi-ico_0055_page_prev:before { content: '\ea37';}
.xfi-ico_0056_page_next:before { content: '\ea38';}
.xfi-ico_0057_lock:before { content: '\ea39';}
.xfi-ico_0058_link:before { content: '\ea3a';}
.xfi-ico_0059_more:before { content: '\ea3b';}
.xfi-ico_0060_send:before { content: '\ea3c';}
.xfi-ico_0061_font_size:before { content: '\ea3d';}
.xfi-ico_0062_location:before { content: '\ea3e';}
.xfi-ico_0063_flag:before { content: '\ea3f';}
.xfi-ico_0064_row_add:before { content: '\ea40';}
.xfi-ico_0065_row_remove:before { content: '\ea41';}
.xfi-ico_0066_cell_copy:before { content: '\ea42';}
.xfi-ico_0067_row_copy:before { content: '\ea43';}
.xfi-ico_0068_download:before { content: '\ea44';}
.xfi-ico_0069_content_copy:before { content: '\ea45';}
.xfi-ico_0070_content_cut:before { content: '\ea46';}
.xfi-ico_0071_content_paste:before { content: '\ea47';}
.xfi-ico_0072_file_copy:before { content: '\ea48';}
.xfi-ico_0073_preview:before { content: '\ea49';}
.xfi-ico_0074_print:before { content: '\ea4a';}
.xfi-ico_0075_filter:before { content: '\ea4b';}
.xfi-ico_0076_folder:before { content: '\ea4c';}
.xfi-ico_0077_undo:before { content: '\ea4d';}
.xfi-ico_0078_redo:before { content: '\ea4e';}
.xfi-ico_0079_build:before { content: '\ea4f';}
.xfi-ico_0080_calculate:before { content: '\ea50';}
.xfi-ico_0081_view_module:before { content: '\ea51';}
.xfi-ico_0082_entity:before { content: '\ea52';}
.xfi-ico_0083_category:before { content: '\ea53';}
.xfi-ico_0084_history:before { content: '\ea54';}
.xfi-ico_0085_chat_simulation:before { content: '\ea55';}
.xfi-ico_0086_dashboard:before { content: '\ea56';}
.xfi-ico_0087_monitoring:before { content: '\ea57';}
.xfi-ico_0088_fav:before { content: '\ea58';}
.xfi-ico_0089_star:before { content: '\ea59';}
.xfi-ico_0090_text:before { content: '\ea5a';}
.xfi-ico_0091_sound:before { content: '\ea5b';}
.xfi-ico_0092_accordion:before { content: '\ea5c';}
.xfi-ico_0093_carousel:before { content: '\ea5d';}
.xfi-ico_0094_book:before { content: '\ea5e';}
.xfi-ico_0095_button:before { content: '\ea5f';}
.xfi-ico_0096_arrow_down_solid:before { content: '\ea60';}
.xfi-ico_0097_arrow_up_solid:before { content: '\ea61';}
.xfi-ico_0098_timer_off:before { content: '\ea62';}
.xfi-ico_0099_sort_old:before { content: '\ea63';}
.xfi-ico_0100_sort_new:before { content: '\ea64';}
.xfi-ico_0101_sort_small:before { content: '\ea65';}
.xfi-ico_0102_sort_large:before { content: '\ea66';}
.xfi-ico_0103_sort_name:before { content: '\ea67';}
.xfi-ico_0104_file_format:before { content: '\ea68';}
.xfi-ico_0105_slot:before { content: '\ea69';}
.xfi-ico_0106_fold:before { content: '\ea6a';}
.xfi-ico_0107_caution:before { content: '\ea6b';}
.xfi-ico_0108_stop:before { content: '\ea6c';}
.xfi-ico_0109_pause:before { content: '\ea6d';}
.xfi-ico_0110_sound_off:before { content: '\ea6e';}
.xfi-ico_0111_setting:before { content: '\ea6f';}
.xfi-ico_0112_noti:before { content: '\ea70';}
.xfi-ico_0113_noti_act:before { content: '\ea71';}
.xfi-ico_0114_thumb_up:before { content: '\ea72';}
.xfi-ico_0115_trending_up:before { content: '\ea73';}
.xfi-ico_0116_checklist:before { content: '\ea74';}
.xfi-ico_0117_chat_ready:before { content: '\ea75';}
.xfi-ico_0118_eye:before { content: '\ea76';}
.xfi-ico_0119_accuracy:before { content: '\ea77';}
.xfi-ico_0120_person:before { content: '\ea78';}
.xfi-ico_0121_keyboard:before { content: '\ea79';}
.xfi-ico_0122_fold_left:before { content: '\ea7a';}
.xfi-ico_0123_cloud_upload:before { content: '\ea7b';}
.xfi-ico_0124_replay_t:before { content: '\ea7c';}
.xfi-ico_0125_forward_5:before { content: '\ea7d';}
.xfi-ico_0126_fast_rewind:before { content: '\ea7e';}
.xfi-ico_0127_fast_forward:before { content: '\ea7f';}
.xfi-ico_0128_repeat_ab_default:before { content: '\ea80';}
.xfi-ico_0129_repeat_ab_start:before { content: '\ea81';}
.xfi-ico_0130_repeat_ab_end:before { content: '\ea82';}
.xfi-ico_0131_repeat_ab_ing:before { content: '\ea83';}
.xfi-ico_0132_tag:before { content: '\ea84';}
.xfi-ico_0133_monitoring_chart:before { content: '\ea85';}
.xfi-ico_0134_helmet:before { content: '\ea86';}
.xfi-ico_0135_call_analysis:before { content: '\ea87';}
.xfi-ico_0136_kms_setting:before { content: '\ea88';}
.xfi-ico_0137_user_setting:before { content: '\ea89';}
.xfi-ico_0138_sitemap_card:before { content: '\ea8a';}
.xfi-ico_0139_photo:before { content: '\ea8b';}
.xfi-ico_0140_authority:before { content: '\ea8c';}
.xfi-ico_0141_perm_media:before { content: '\ea8d';}
.xfi-ico_0142_file_pdf:before { content: '\ea8e';}
.xfi-ico_0143_file_jpg:before { content: '\ea8f';}
.xfi-ico_0144_file_gif:before { content: '\ea90';}
.xfi-ico_0145_file_png:before { content: '\ea91';}
.xfi-ico_0146_ile_bmp:before { content: '\ea92';}
.xfi-ico_0147_file_xls:before { content: '\ea93';}
.xfi-ico_0148_file_doc:before { content: '\ea94';}
.xfi-ico_0149_file_ppt:before { content: '\ea95';}
.xfi-ico_0150_file_hangul:before { content: '\ea96';}
.xfi-ico_0151_file_disk:before { content: '\ea97';}
.xfi-ico_0152_connected_contents:before { content: '\ea98';}
.xfi-ico_0153_favorite:before { content: '\ea99';}
.xfi-ico_0154_favorite_line:before { content: '\ea9a';}
.xfi-ico_0155_file_zip:before { content: '\ea9b';}
.xfi-ico_0156_preview_listening:before { content: '\ea9c';}
.xfi-ico_0157_arrow_prev_line:before { content: '\ea9d';}
.xfi-ico_0158_eye_off:before { content: '\ea9e';}
.xfi-ico_0159_minus:before { content: '\ea9f';}
.xfi-ico_0160_article:before { content: '\eaa0';}
.xfi-ico_0161_doc_edit:before { content: '\eaa1';}
.xfi-ico_0162_come:before { content: '\eaa2';}
.xfi-ico_0163_id:before { content: '\eaa3';}
.xfi-ico_0164_write:before { content: '\eaa4';}
.xfi-ico_0165_iphone:before { content: '\eaa5';}
.xfi-ico_0166_go_to_top:before { content: '\eaa6';}
.xfi-ico_0167_tree:before { content: '\eaa7';}
.xfi-ico_0168_file_apple:before { content: '\eaa8';}
.xfi-ico_0169_file_psd:before { content: '\eaa9';}
.xfi-ico_0170_file_text:before { content: '\eaaa';}
.xfi-ico_0171_file_video:before { content: '\eaab';}
.xfi-ico_0172_file_web:before { content: '\eaac';}
.xfi-ico_0173_file_txt:before { content: '\eaad';}
.xfi-ico_0174_info:before { content: '\eaae';}
.xfi-ico_0175_arrow_prev:before { content: '\eaaf';}
.xfi-ico_0176_arrow_next:before { content: '\eab0';}
.xfi-ico_0177_play_circle_line:before { content: '\eab1';}
.xfi-ico_0178_explore:before { content: '\eab2';}
.xfi-ico_0179_unlock:before { content: '\eab3';}
.xfi-ico_0180_reset:before { content: '\eab4';}
.xfi-ico_0181_approval:before { content: '\eab5';}
.xfi-ico_0182_approved:before { content: '\eab6';}
.xfi-ico_0183_text_dict:before { content: '\eab7';}
.xfi-ico_0184_mail_noti:before { content: '\eab8';}
.xfi-ico_0185_linked:before { content: '\eab9';}
.xfi-ico_0186_unlinked:before { content: '\eaba';}
.xfi-ico_0187_live:before { content: '\eabb';}
.xfi-ico_0188_arrow_down:before { content: '\eabc';}
.xfi-ico_0189_arrow_up:before { content: '\eabd';}
.xfi-ico_0190_font_size_up:before { content: '\eabe';}
.xfi-ico_0191_font_size_down:before { content: '\eabf';}
.xfi-ico_0192_stt_rive_on:before { content: '\eac0';}
.xfi-ico_0193_stt_live_off:before { content: '\eac1';}
.xfi-ico_0194_pause_circle_line:before { content: '\eac2';}
.xfi-ico_0195_stop_circle_line:before { content: '\eac3';}
.xfi-ico_0196_adv_view_01:before { content: '\eac4';}
.xfi-ico_0197_adv_view_02:before { content: '\eac5';}
.xfi-ico_0198_adv_view_03:before { content: '\eac6';}
.xfi-ico_0199_adv_view_04:before { content: '\eac7';}
.xfi-ico_0200_query_stats:before { content: '\eac8';}
.xfi-ico_0201_percent:before { content: '\eac9';}
.xfi-ico_0202_all:before { content: '\eaca';}
.xfi-ico_0203_cafe:before { content: '\eacb';}
.xfi-ico_0204_rss:before { content: '\eacc';}
.xfi-ico_0205_newspaper:before { content: '\eacd';}
.xfi-ico_0206_youtube:before { content: '\eace';}
.xfi-ico_0207_rate_review:before { content: '\eacf';}
.xfi-ico_0208_reviews:before { content: '\ead0';}
.xfi-ico_0209_mortarboard:before { content: '\ead1';}
.xfi-ico_0210_government:before { content: '\ead2';}
.xfi-ico_0211_groups:before { content: '\ead3';}
.xfi-ico_0212_store:before { content: '\ead4';}
.xfi-ico_0213_journalist:before { content: '\ead5';}
.xfi-ico_0214_civil_servant:before { content: '\ead6';}
.xfi-ico_0215_people_alt:before { content: '\ead7';}
.xfi-ico_0216_open_in_new:before { content: '\ead8';}
.xfi-ico_0217_lock_clock:before { content: '\ead9';}
.xfi-ico_0218_business:before { content: '\eada';}
.xfi-ico_0219_dashboard:before { content: '\eadb';}
.xfi-ico_0220_basis_setting:before { content: '\eadc';}
.xfi-ico_0221_monitoring_02:before { content: '\eadd';}
.xfi-ico_0222_arrow_next_line_double:before { content: '\eade';}
.xfi-ico_0223_arrow_prev_line_double:before { content: '\eadf';}
.xfi-ico_0224_arrow_down_line_double:before { content: '\eae0';}
.xfi-ico_0225_history:before { content: '\eae1';}
.xfi-ico_0226_thumb_down:before { content: '\eae2';}
.xfi-ico_0227_thumb_up_off:before { content: '\eae3';}
.xfi-ico_0228_thumb_down_off:before { content: '\eae4';}
.xfi-ico_0229_campaign:before { content: '\eae5';}
.xfi-ico_0230_user:before { content: '\eae6';}
.xfi-ico_0231_minimize:before { content: '\eae7';}
.xfi-ico_0232_maximize:before { content: '\eae8';}
.xfi-ico_0233_close_fullscreen:before { content: '\eae9';}
.xfi-ico_0234_headset_off:before { content: '\eaea';}
.xfi-ico_0235_palette:before { content: '\eaeb';}
.xfi-ico_0236_brush:before { content: '\eaec';}
.xfi-ico_0237_fullscreen:before { content: '\eaed';}
.xfi-ico_0238_public:before { content: '\eaee';}
.xfi-ico_0239_contact_phone:before { content: '\eaef';}
.xfi-ico_0240_priority_high:before { content: '\eaf0';}
.xfi-ico_0241dashboard:before { content: '\eaf1';}
.xfi-ico_0242_person_04:before { content: '\eaf2';}
.xfi-ico_0243_diamond:before { content: '\eaf3';}
.xfi-ico_0244_today:before { content: '\eaf4';}
.xfi-ico_0245_library_books:before { content: '\eaf5';}
.xfi-ico_0246_quiz:before { content: '\eaf6';}
.xfi-ico_0247_poll:before { content: '\eaf7';}
.xfi-ico_0248_recommned:before { content: '\eaf8';}
.xfi-ico_0249_trending_down:before { content: '\eaf9';}
.xfi-ico_0250_pw_change:before { content: '\eafa';}
.xfi-ico_0251_adv_view_05:before { content: '\eafb';}
.xfi-ico_0252_shuffle:before { content: '\eafc';}
.xfi-ico_0253_tune:before { content: '\eafd';}
.xfi-ico_0254_book_download:before { content: '\eafe';}
.xfi-ico_0255_bot:before { content: '\eaff';}
.xfi-ico_0256_chat_ai:before { content: '\eb00';}
.xfi-ico_0257_chat_agent:before { content: '\eb01';}
.xfi-ico_0258_person_except:before { content: '\eb02';}
.xfi-ico_0259_repeat:before { content: '\eb03';}
.xfi-ico_0260_baemin_one:before { content: '\eb04';}
.xfi-ico_0261_baemin_b_mart:before { content: '\eb05';}
.xfi-ico_0262_quick_shopping:before { content: '\eb06';}
.xfi-ico_0263_bulk_buying:before { content: '\eb07';}
.xfi-ico_0264_live_shopping:before { content: '\eb08';}
.xfi-ico_0265_owner_call:before { content: '\eb09';}
.xfi-ico_0266_customer_call:before { content: '\eb0a';}
.xfi-ico_0267_owner_chat:before { content: '\eb0b';}
.xfi-ico_0268_customer_chat:before { content: '\eb0c';}
.xfi-ico_0269_call_analysis_per:before { content: '\eb0d';}
.xfi-ico_0270_won:before { content: '\eb0e';}
.xfi-ico_0271_wallet:before { content: '\eb0f';}
.xfi-ico_0272_point:before { content: '\eb10';}
.xfi-ico_0273_coupon:before { content: '\eb11';}
.xfi-ico_0274_refund:before { content: '\eb12';}
.xfi-ico_0275_to_owner:before { content: '\eb13';}
.xfi-ico_0276_voc_all:before { content: '\eb14';}
.xfi-ico_0277_voc:before { content: '\eb15';}
.xfi-ico_0278_suggestion:before { content: '\eb16';}
.xfi-ico_0279_complaints:before { content: '\eb17';}
.xfi-ico_0280_total:before { content: '\eb18';}
.xfi-ico_0281_server:before { content: '\eb19';}
.xfi-ico_0282_counsel:before { content: '\eb1a';}
.xfi-ico_0283_call_fail:before { content: '\eb1b';}
.xfi-ico_0284_outbound:before { content: '\eb1c';}
.xfi-ico_0285_inbound:before { content: '\eb1d';}
.xfi-ico_0286_callback:before { content: '\eb1e';}
.xfi-ico_0287_success:before { content: '\eb1f';}
.xfi-ico_0288_siren:before { content: '\eb20';}
.xfi-ico_0289_card:before { content: '\eb21';}
.xfi-ico_0290_terminal:before { content: '\eb22';}
.xfi-ico_0291_variable:before { content: '\eb23';}
.xfi-ico_0292_split:before { content: '\eb24';}
.xfi-ico_0293_api:before { content: '\eb25';}
.xfi-ico_0294_code:before { content: '\eb26';}
.xfi-ico_0295_align_left:before { content: '\eb27';}
.xfi-ico_0296_align_right:before { content: '\eb28';}
.xfi-ico_0297_align_center:before { content: '\eb29';}
.xfi-ico_0298_video_02:before { content: '\eb2a';}
.xfi-ico_0299_function:before { content: '\eb2b';}
.xfi-ico_0300_question:before { content: '\eb2c';}
.xfi-ico_0301_compound:before { content: '\eb2d';}
.xfi-ico_0302_file_html:before { content: '\eb2e';}
.xfi-ico_0303_file_xml:before { content: '\eb2f';}
.xfi-ico_0304_paragraph:before { content: '\eb30';}
.xfi-ico_0305_arrow_right_top:before { content: '\eb31';}
.xfi-ico_0306_delete_in_folder:before { content: '\eb32';}
.xfi-ico_0307_remote_monitor_01:before { content: '\eb33';}
.xfi-ico_0308_remote_monitor_02:before { content: '\eb34';}
.xfi-ico_0309_rpa:before { content: '\eb35';}
.xfi-ico_0310_very_satisfied:before { content: '\eb36';}
.xfi-ico_0311_thumb_up_02:before { content: '\eb37';}
.xfi-ico_0312_sunny:before { content: '\eb38';}
.xfi-ico_0313_cloudy:before { content: '\eb39';}
.xfi-ico_0314_overcast:before { content: '\eb3a';}
.xfi-ico_0315_rainy:before { content: '\eb3b';}
.xfi-ico_0316_snowy:before { content: '\eb3c';}
.xfi-ico_0317_sleety:before { content: '\eb3d';}
.xfi-ico_0318_umbrella:before { content: '\eb3e';}
.xfi-ico_0319_snowman:before { content: '\eb3f';}
.xfi-ico_0320_maximize02:before { content: '\eb40';}
.xfi-ico_0321_chat_reply:before { content: '\eb41';}
.xfi-ico_0322_person_edit:before { content: '\eb42';}
.xfi-ico_0323_close_fullscreen:before { content: '\eb43';}
.xfi-ico_0324_ai_note:before { content: '\eb44';}
.xfi-ico_0325_sparkle:before { content: '\eb45';}
.xfi-ico_0326_handshake:before { content: '\eb46';}
.xfi-ico_0327_competiton:before { content: '\eb47';}
.xfi-ico_0328_box:before { content: '\eb48';}
.xfi-ico_0329_loading:before { content: '\eb49';}
.xfi-ico_0330_more_horizontal:before { content: '\eb4a';}
.xfi-ico_0331_search_minus:before { content: '\eb4b';}
.xfi-ico_0332_replace:before { content: '\eb4c';}
.xfi-ico_0333_adv_view_06:before { content: '\eb4d';}
.xfi-ico_0334_adv_view_07:before { content: '\eb4e';}
.xfi-ico_0335_cake:before { content: '\eb4f';}
.xfi-ico_0336_confetti:before { content: '\eb50';}
.xfi-ico_0337_insight:before { content: '\eb51';}
.xfi-ico_0338_drawer:before { content: '\eb52';}
.xfi-ico_0339_share:before { content: '\eb53';}
.xfi-ico_0340_delete_history:before { content: '\eb54';}
.xfi-ico_0341_attachment:before { content: '\eb55';}
.xfi-ico_0342_attach_file:before { content: '\eb56';}
.xfi-ico_0343_cloud_h:before { content: '\eb57';}
.xfi-ico_0344_cloud_s:before { content: '\eb58';}
.xfi-ico_0345_arrow_up_line_double:before { content: '\eb59';}
.xfi-ico_0346_chat_single:before { content: '\eb5a';}
.xfi-ico_0347_graph_bar:before { content: '\eb5b';}
.xfi-ico_0349_graph_pie:before { content: '\eb5c';}
.xfi-ico_0350_bulb:before { content: '\eb5d';}
.xfi-ico_0351_patent:before { content: '\eb5e';}