<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xs.domain.cmmn.CmmnMapper">

<select id="getMenuKeyByPath" resultType="xs.core.handler.app.XtrmCamelCaseMap">
SELECT CASE WHEN MAX(MENU_KEY) IS NULL THEN #{menuKey} ELSE MAX(MENU_KEY) END AS MENU_KEY
  FROM COM_MENU
 WHERE COMPANY_CODE   = #{sessionCompanyCode}
   AND MENU_PATH_INFO = #{menuPathInfo}
</select>

</mapper>